div{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
}

img{
  width:100%;
  height:auto;
}

body{
  background: maroon;
  color: white;
  margin:5%;
}

main{
  width:100%;
}

a:link {
color: white;
}

a:hover {
color: #2393EA;
}

a:visited {
color: green;
}

a:active {
  background-color: yellow;
}

#skip a{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#skip a:focus{
  position:static;
  width:auto;
  height:auto;
}

nav {
  overflow: hidden;
}

nav a.current {
  color: #9623EA;
  text-transform: uppercase;
  background-color: white;
}

nav a:hover {
  background-color: #090d87;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  margin:0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 90%;
}

.sticky + .content {
  padding-top: 102px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #25AF7F;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 1fr 0 1fr;
  background-color: black;
  display: none;
  overflow: hidden;
}

/* “If [device width] is greater than or equal to 600px, then do {…}” */
@media only screen and (min-width: 600px) {
  .container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  .container > div{
    width:300px;
    border: 5px solid white;
  }

  p{font-family: "Courier New", Courier, monospace
  }

  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  nav ul li{
    display: inline-block;
    /* width:25%; */
    background: black;
    padding: 10px;
    min-height: 50px;
    line-height: 50px;
    border-width: 2px;
    text-align: center;}

    body{
      background: firebrick;
    }
}

/* laptop
tablet
mobile
if  using max*/

@media screen and (min-width: 1000px) {

  .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    margin: 0 auto;
  }
  .container > div{
    width:300px;
    border: 5px solid black;
  }

  nav ul{
		display: flex;
    flex-direction: row;
    align-items: stretch;
	}
  nav ul li{
		display: inline-block;
		width:25%;
		background: black;
		padding: 10px;
		min-height: 50px;
		line-height: 50px;
		border-width: 2px;
		text-align: center;}

  nav ul li a:hover, nav ul li a:focus {
    color: black;
    background-color: red;
    font-weight: bold;
  }

  p{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  body{
      background: darkred;
    }
  }
